<!DOCTYPE html>
<html ng-app="conferre">
<head lang="en">
    <meta charset="UTF-8">
    <title>Conferre</title>
</head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script src="js/conferre.js"></script>
<body>
<div ng-controller="VentaSillasCtrl">
    Venta de Sillas
    Conferencia: <select ng-model="conferencia" name="" id="">
    <option ng-repeat="conferencia in conferencias" value="{{conferencia.nombre}}">{{conferencia.nombre}}</option></select>
   Tipo de Silla: <select ng-model="silla" name="" id="">
    <option ng-repeat="silla in sillas" value="{{silla.tipo}}">{{silla.tipo}}<option></select>
    Cantidad: <input type="int" ng-model="cantidad"/>
    <h3>Costo total {{precio*cantidad}}</h3>

    <h4 ng-model="message"></h4>
</div>
</body>
</html>